@{
    ViewBag.Title = "Contact Us";
}
<h2>@ViewBag.Title.</h2>
@*<h3>@ViewBag.Message</h3>*@

<address>
    23 King James Way<br />
    Cleveland, OH 44111<br />
    <abbr title="Phone">P:</abbr>
    216.555.0100
</address>

@*<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>*@