body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.jumbotron {
    background-image: url(../Images/cleveland-sign.jpg);
    background-position: center;
    background-size: cover;
    min-height: 600px;
}

.jumbotron h1{
    font-family: 'Pacifico', cursive;
}

.jumbotron p{
    color:white;
    font-family: 'Happy Monkey', cursive;
}

h2{
    font-family: 'Pacifico', cursive;
}

.navbar-brand{
    font-size:28px;
    font-family: 'Pacifico', cursive;
}
.navbar-nav > li >a{
    font-size:18px;
    font-family: 'Happy Monkey', cursive;
}

footer p{
    font-size:18px;
    font-family: 'Happy Monkey', cursive;
}

body{
    font-family: 'Happy Monkey', cursive;
    font-size: 16px;
}

div{
    margin-bottom:4px;
    /*text-align:center;*/
}
img.img-responsive{
    height:230px;
    width:230px;
    text-align:center;
    }

table{

}

